<title>{title}</title>
<div class="main">
  <nav *ngIf="isLoggedIn()" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.strava.com/oauth/authorize?client_id=68897&response_type=code&redirect_uri=http://localhost:4200/callback&approval_prompt=force&scope=activity:read_all,read">Authorise Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" [routerLink]="" (click)="logout()">Logout</a>
        </li>
      </ul>      
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>